{% extends 'accounts/mainfile.html' %}



{% block content %}

{% load static %}

    <div id="booking" class="section">
  	
		<div class="section-center">
			<div class="container">
				<div class="row">
					<div class="col-md-7 col-md-push-5">
						<div class="booking-cta">
							<h1>Make your reservation</h1>
							<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi facere, soluta magnam consectetur molestias itaque
								ad sint fugit architecto incidunt iste culpa perspiciatis possimus voluptates aliquid consequuntur cumque quasi.
								Perspiciatis.
							</p>
						</div>
					</div>
					<div class="col-md-4 col-md-pull-7">
						<div class="booking-form" style="margin-top: 20px;">


							<form action="" method="post">
								{% csrf_token%}
								
								<div class="form-group">
									<span class="form-label">Mention Your Destination</span>
									<input class="form-control" type="text" placeholder="Destination.." name="place" required>
								</div>

								<div class="form-group">
									<span class="form-label">Your Email</span>
									<input class="form-control" type="Email" placeholder="Enter Your Email" name="email" required>
								</div>

								<div class="form-group">
									<span class="form-label">Number of People</span>
									<input class="form-control" type="text" placeholder="No. of People"name="numberofpeople" required>
								</div>
								<div class="row">
									<div class="col-sm-6">
										<div class="form-group">
											<span class="form-label">Check In</span>
											<input class="form-control" type="text"name="checkin" required>
										</div>
									</div>
									<div class="col-sm-6">
										<div class="form-group">
											<span class="form-label">Check out</span>
											<input class="form-control" type="text"name="checkout" required>
										</div>
									</div>
								</div>
								
								
								<div class="form-btn">
									<button class="submit-btn" type="submit">Book Now</button>

								</div>
								<p style="font-size: 10px; color: red; margin-top: 15px;">You Must Register First to Book</p>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<footer class="page-footer font-small special-color-dark pt-4" style="background-color: #bdc3c7;">

  <!-- Footer Elements -->
  <div class="container">

    <!-- Social buttons -->
    <ul class="list-unstyled list-inline text-center">
      <li class="list-inline-item">
        <a class="btn-floating btn-fb mx-1">
          <i class="fab fa-facebook-f"> </i>
        </a>
      </li>
      <li class="list-inline-item">
        <a class="btn-floating btn-tw mx-1">
          <i class="fab fa-twitter"> </i>
        </a>
      </li>
      <li class="list-inline-item">
        <a class="btn-floating btn-gplus mx-1">
          <i class="fab fa-google-plus-g"> </i>
        </a>
      </li>
      <li class="list-inline-item">
        <a class="btn-floating btn-li mx-1">
          <i class="fab fa-linkedin-in"> </i>
        </a>
      </li>
      <li class="list-inline-item">
        <a class="btn-floating btn-dribbble mx-1">
          <i class="fab fa-dribbble"> </i>
        </a>
      </li>
    </ul>
    <!-- Social buttons -->

  </div>
  <!-- Footer Elements -->

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2020 Copyright:
    <a href="https://mdbootstrap.com/"> softwarica.com</a>
  </div>
  <!-- Copyright -->

</footer>

{% endblock  %}

