{% extends "accounts/mainfile.html" %}





{% block content %}
{% load static %}
<!-- Login popup -->

	<style >
		@keyframes slider{
     0%{background-image: url("{% static 'picture/s1.jpg' %}");}
     10%{background-image: url("{% static 'picture/s2.jpg' %}");}
     20%{background-image: url("{% static 'picture/s3.jpg' %}");}
     30%{background-image: url("{% static 'picture/s4.jpg' %}");}
     40%{background-image: url("{% static 'picture/s5.jpg' %}");}
     50%{background-image: url("{% static 'picture/s06.jpg' %}");}
     60%{background-image: url("{% static 'picture/s7.jpg' %}");}
     70%{background-image: url("{% static 'picture/s8.jpg' %}");}
     80%{background-image: url("{% static 'picture/s09.jpg' %}");}
     90%{background-image: url("{% static 'picture/s10.jpg' %}");}
     100%{background-image: url("{% static 'picture/s11.jpg' %}");}

 }



	</style>
	


	

	

	<!--Home Page ko design-->
	<div class="thumbnail">

  		<img class="homepageimg" src="{% static 'picture/homepage.jpg' %}" alt="Snow" style="width:100%; height: 100vh;">
	    <div class="centered">

	    	<!--img src="travellogo.png" alt="logo" -->
	    	<h1 id="heading">TRAVEL WORLD</h1>
	    	<button type="button" class="btn1 "  style="font-weight: bold;"><a href="/aboutus" style="color: white; text-decoration: none; ">WHY US? </a></button>
	    	<button type="button" class="btn1 " href='#' style="font-weight: bold;" ><a href="/booking/create" style="color: white; text-decoration: none; ">BOOK NOW  </a></button>
	    </div>
	</div>
	
	<div class="gallery-heading" id="gallery">
        <h2>SOME WONDERFUL PLACES</h2>
    </div>
    
    <div class="maindiv"></div>

  			
			


	
		<!-- Footer -->
<footer class="page-footer font-small special-color-dark pt-4" style="background-color:#bdc3c7;">

  <!-- Footer Elements -->
  <div class="container">

    <!-- Social buttons -->
    <ul class="list-unstyled list-inline text-center">
      <li class="list-inline-item">
        <a class="btn-floating btn-fb mx-1">
          <i class="fab fa-facebook-f"> </i>
        </a>
      </li>
      <li class="list-inline-item">
        <a class="btn-floating btn-tw mx-1">
          <i class="fab fa-twitter"> </i>
        </a>
      </li>
      <li class="list-inline-item">
        <a class="btn-floating btn-gplus mx-1">
          <i class="fab fa-google-plus-g"> </i>
        </a>
      </li>
      <li class="list-inline-item">
        <a class="btn-floating btn-li mx-1">
          <i class="fab fa-linkedin-in"> </i>
        </a>
      </li>
      <li class="list-inline-item">
        <a class="btn-floating btn-dribbble mx-1">
          <i class="fab fa-dribbble"> </i>
        </a>
      </li>
    </ul>
    <!-- Social buttons -->

  </div>
  <!-- Footer Elements -->

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2020 Copyright:
    <a href="https://mdbootstrap.com/"> softwarica.com</a>
  </div>
  <!-- Copyright -->

</footer>

{% endblock  %}

