


<div id="header">



		<div class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top" style=" position: fixed; width: 100%; top: 0;">
			<div class="container">

					<a class="navbar-brand" href="/" class="">Travel World</a>

			<button class="navbar-toggler"data-toggle="collapse" data-target="#navbarMenu">
				<span class="navbar-toggler-icon"></span>
			</button>

			<div class=" collapse navbar-collapse" id="navbarMenu">

				<ul class="navbar-nav ">

				<a class="nav-link" href="/"><li class="nav-item"><i class="fas fa-home"></i>  Home</li></a>


				<a class="nav-link" href="/booking/create"><li class="nav-item"><i class="fas fa-bookmark"></i>  Booking</li></a>
				
				
				<a class="nav-link" href="/aboutus">
					<li class="nav-item"><i class="fas fa-info-circle"></i>  About</li></a>

				<a class="nav-link" href="/user"  >
					<li class="nav-item"><i class="fas fa-address-card" style="cursor: pointer;"></i>  Register</li></a>






				</ul>
			</div>


		</div>

		</div>


	</div>


	

	



