{% block content %}
{% load static %}

    <link rel="stylesheet" type="text/css"  href="{% static '/css/bootstrap.min.css'%}">
<form method="post" action="search">
    {% csrf_token %}
</form>
<table class="table table-primary">
    <tr>
        <th>Id</th>
        <th>place</th>
        <th>email</th>
        <th>numberofpeople</th>
        <th>checkin</th>
        <th>checkout</th>
        
    
    </tr>
    {% for data in bookdata %}
    <tr>
        <td>{{data.Id}}</td>
        <td>{{data.place}}</td>
        <td>{{data.email}}</td>
        <td>{{data.numberofpeople}}</td>
        <td>{{data.checkin}}</td>
        <td>{{data.checkout}}</td>
        
    
        <th>
            <a href="/booking/update/{{data.id}}" class="btn btn-primary">edit</a>
            |
            <a href="/booking/delete/{{data.id}}" class="btn btn-success">delete</a>
            |
            <a href="/dashboard" class="btn btn-success">Back</a>
        </th>
    </tr>
    {% endfor %}
</table>
<form method="POST" action="">
    {% csrf_token %}
    {% if page > 1 %}
<button name="prev">prev</button>
    {% endif %}

    {% if pageItem == 4 %}
<button name="next">next</button>
    {% endif %}
</form>
<!--to active selected tab in sidebar-->
<script type="text/javascript">
    $(function () {
        $('.sidebar').find('.active').removeClass('active');
        $('#user').addClass('active');
    });
</script>
{% endblock %}
